build/*
coverage/*
**/.dart_tool/*
**/.idea/*
**/windows/*
.packages
.vscode/*
**/pubspec.lock

example/build/*
example/android/*
example/ios/*
example/web/*
web/*
example/.metadata
example/*.iml
example/.packages
example/analysis_options.yaml
example/test/
example/README.md
